<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
        <filter-mapping>
            <filter-name>Auth</filter-name>
            <url-pattern>*</url-pattern>
        </filter-mapping>

        <!--<filter-mapping>
            <filter-name>ModifyUserFilter</filter-name>
            <url-pattern>/userlist*</url-pattern>
        </filter-mapping>

        <filter>
            <filter-name>Cache</filter-name>
            <filter-class>fr.univlyon1.m1if.m1if03.filters.Cache</filter-class>
        </filter>
        <filter-mapping>
            <filter-name>Cache</filter-name>
            <url-pattern>*</url-pattern>
        </filter-mapping>
        <filter>
            <filter-name>EntityTagFilter</filter-name>
            <filter-class>fr.univlyon1.m1if.m1if03.filters.ETagFilter</filter-class>
        </filter>
        <filter-mapping>
            <filter-name>EntityTagFilter</filter-name>
            <url-pattern>*</url-pattern>
        </filter-mapping>
-->

</web-app>